# Grzegorz Krochmal and Katarzyna Kryńska
## *Prediction of LendingClub loan defaulters*

# Introduction

In [2]:
import pandas as pd

# 1. Data Overview

In [3]:
data = pd.read_csv("D:\WNE\lending-club-loan-data\loan.csv", low_memory=False)

In [4]:
data.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
col_desc = pd.read_excel("LCDataDictionary.xlsx", sheet_name="LoanStats")
col_desc

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower i...
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan...
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by th...
5,annual_inc_joint,The combined self-reported annual income provi...
6,application_type,Indicates whether the loan is an individual ap...
7,avg_cur_bal,Average current balance of all accounts
8,bc_open_to_buy,Total open to buy on revolving bankcards.
9,bc_util,Ratio of total current balance to high credit/...
10,chargeoff_within_12_mths,Number of charge-offs within 12 months
11,collection_recovery_fee,post charge off collection fee
12,collections_12_mths_ex_med,Number of collections in 12 months excluding m...
13,delinq_2yrs,The number of 30+ days past-due incidences of ...
14,delinq_amnt,The past-due amount owed for the accounts on w...
15,desc,Loan description provided by the borrower
16,dti,A ratio calculated using the borrower’s total ...
17,dti_joint,A ratio calculated using the co-borrowers' tot...
18,earliest_cr_line,The month the borrower's earliest reported cre...
19,emp_length,Employment length in years. Possible values ar...
20,emp_title,The job title supplied by the Borrower when ap...
21,fico_range_high,The upper boundary range the borrower’s FICO a...
22,fico_range_low,The lower boundary range the borrower’s FICO a...
23,funded_amnt,The total amount committed to that loan at tha...
24,funded_amnt_inv,The total amount committed by investors for th...
25,grade,LC assigned loan grade
26,home_ownership,The home ownership status provided by the borr...
27,id,A unique LC assigned ID for the loan listing.
28,il_util,Ratio of total current balance to high credit/...
29,initial_list_status,The initial listing status of the loan. Possib...
...,...,...
123,sec_app_open_act_il,Number of currently active installment trades...
124,sec_app_num_rev_accts,Number of revolving accounts at time of appli...
125,sec_app_chargeoff_within_12_mths,Number of charge-offs within last 12 months a...
126,sec_app_collections_12_mths_ex_med,Number of collections within last 12 months e...
127,sec_app_mths_since_last_major_derog,Months since most recent 90-day or worse rati...
128,hardship_flag,Flags whether or not the borrower is on a hard...
129,hardship_type,Describes the hardship plan offering
130,hardship_reason,Describes the reason the hardship plan was off...
131,hardship_status,"Describes if the hardship plan is active, pend..."
132,deferral_term,Amount of months that the borrower is expected...
133,hardship_amount,The interest payment that the borrower has com...
134,hardship_start_date,The start date of the hardship plan period
135,hardship_end_date,The end date of the hardship plan period
136,payment_plan_start_date,The day the first hardship plan payment is due...
137,hardship_length,The number of months the borrower will make sm...
138,hardship_dpd,Account days past due as of the hardship plan ...
139,hardship_loan_status,Loan Status as of the hardship plan start date
140,orig_projected_additional_accrued_interest,The original projected additional interest amo...
141,hardship_payoff_balance_amount,The payoff balance amount as of the hardship p...
142,hardship_last_payment_amount,The last payment amount as of the hardship pla...
143,disbursement_method,The method by which the borrower receives thei...
144,debt_settlement_flag,"Flags whether or not the borrower, who has cha..."
145,debt_settlement_flag_date,The most recent date that the Debt_Settlement_...
146,settlement_status,The status of the borrower’s settlement plan. ...
147,settlement_date,The date that the borrower agrees to the settl...
148,settlement_amount,The loan amount that the borrower has agreed t...
149,settlement_percentage,The settlement amount as a percentage of the p...
150,settlement_term,The number of months that the borrower will be...
151,NaN,NaN
152,NaN,* Employer Title replaces Employer Name for al...

# 2. Data preparation

## 2.1. Data cleaning

In [5]:
missings = pd.DataFrame({'Count': data.isnull().sum(), 'Percent': 100*data.isnull().sum()/len(data)})

missings[missings['Count'] > 0].sort_values(by=['Percent'], ascending=False)

                                              Count     Percent
id                                          2260668  100.000000
member_id                                   2260668  100.000000
emp_title                                    166969    7.385826
emp_length                                   146907    6.498389
annual_inc                                        4    0.000177
url                                         2260668  100.000000
desc                                        2134601   94.423462
title                                         23325    1.031775
zip_code                                          1    0.000044
dti                                            1711    0.075686
delinq_2yrs                                      29    0.001283
earliest_cr_line                                 29    0.001283
inq_last_6mths                                   30    0.001327
mths_since_last_delinq                      1158502   51.246003
mths_since_last_record                      1901512   84.112837
open_acc                                         29    0.001283
pub_rec                                          29    0.001283
revol_util                                     1802    0.079711
total_acc                                        29    0.001283
last_pymnt_d                                   2426    0.107313
next_pymnt_d                                1303607   57.664681
last_credit_pull_d                               73    0.003229
collections_12_mths_ex_med                      145    0.006414
mths_since_last_major_derog                 1679893   74.309585
annual_inc_joint                            2139958   94.660428
dti_joint                                   2139962   94.660605
verification_status_joint                   2144938   94.880717
acc_now_delinq                                   29    0.001283
tot_coll_amt                                  70276    3.108639
tot_cur_bal                                   70276    3.108639
...                                             ...         ...
sec_app_earliest_cr_line                    2152647   95.221722
sec_app_inq_last_6mths                      2152647   95.221722
sec_app_mort_acc                            2152647   95.221722
sec_app_open_acc                            2152647   95.221722
sec_app_revol_util                          2154484   95.302981
sec_app_open_act_il                         2152647   95.221722
sec_app_num_rev_accts                       2152647   95.221722
sec_app_chargeoff_within_12_mths            2152647   95.221722
sec_app_collections_12_mths_ex_med          2152647   95.221722
sec_app_mths_since_last_major_derog         2224726   98.410116
hardship_type                               2250055   99.530537
hardship_reason                             2250055   99.530537
hardship_status                             2250055   99.530537
deferral_term                               2250055   99.530537
hardship_amount                             2250055   99.530537
hardship_start_date                         2250055   99.530537
hardship_end_date                           2250055   99.530537
payment_plan_start_date                     2250055   99.530537
hardship_length                             2250055   99.530537
hardship_dpd                                2250055   99.530537
hardship_loan_status                        2250055   99.530537
orig_projected_additional_accrued_interest  2252242   99.627278
hardship_payoff_balance_amount              2250055   99.530537
hardship_last_payment_amount                2250055   99.530537
debt_settlement_flag_date                   2227612   98.537777
settlement_status                           2227612   98.537777
settlement_date                             2227612   98.537777
settlement_amount                           2227612   98.537777
settlement_percentage                       2227612   98.537777
settlement_term                             2227612   98.537777

[113 rows x 2 columns]

In [14]:
missings.concat(col_desc, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)

AttributeError: 'DataFrame' object has no attribute 'concat'

In [11]:
missings[missings['Percent'] > 50].sort_values(by=['Percent'], ascending=False)

                                              Count     Percent
id                                          2260668  100.000000
url                                         2260668  100.000000
member_id                                   2260668  100.000000
orig_projected_additional_accrued_interest  2252242   99.627278
hardship_length                             2250055   99.530537
hardship_reason                             2250055   99.530537
hardship_status                             2250055   99.530537
deferral_term                               2250055   99.530537
hardship_amount                             2250055   99.530537
hardship_start_date                         2250055   99.530537
hardship_end_date                           2250055   99.530537
payment_plan_start_date                     2250055   99.530537
hardship_loan_status                        2250055   99.530537
hardship_dpd                                2250055   99.530537
hardship_payoff_balance_amount              2250055   99.530537
hardship_last_payment_amount                2250055   99.530537
hardship_type                               2250055   99.530537
debt_settlement_flag_date                   2227612   98.537777
settlement_status                           2227612   98.537777
settlement_date                             2227612   98.537777
settlement_amount                           2227612   98.537777
settlement_percentage                       2227612   98.537777
settlement_term                             2227612   98.537777
sec_app_mths_since_last_major_derog         2224726   98.410116
sec_app_revol_util                          2154484   95.302981
revol_bal_joint                             2152648   95.221766
sec_app_inq_last_6mths                      2152647   95.221722
sec_app_chargeoff_within_12_mths            2152647   95.221722
sec_app_earliest_cr_line                    2152647   95.221722
sec_app_collections_12_mths_ex_med          2152647   95.221722
sec_app_mort_acc                            2152647   95.221722
sec_app_open_acc                            2152647   95.221722
sec_app_open_act_il                         2152647   95.221722
sec_app_num_rev_accts                       2152647   95.221722
verification_status_joint                   2144938   94.880717
dti_joint                                   2139962   94.660605
annual_inc_joint                            2139958   94.660428
desc                                        2134601   94.423462
mths_since_last_record                      1901512   84.112837
mths_since_recent_bc_dlq                    1740967   77.011175
mths_since_last_major_derog                 1679893   74.309585
mths_since_recent_revol_delinq              1520309   67.250432
next_pymnt_d                                1303607   57.664681
mths_since_last_delinq                      1158502   51.246003